.text-center{color:#43CB59; font-weight:bold;}

a:hover {
    color: #3D9132;
}


ul {
    list-style-type: none;
    margin:0 auto;
    padding: 0;
    overflow: hidden;



}

li {
    float: left;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
